.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-color-transparent);
}
.container:hover .checkButton {
  color: var(--text-color);
}
.container:hover {
  border-bottom: 1px solid var(--text-color);
}
.textButton {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: start;
  overflow: hidden;
}
.textContainer {
  width: fit-content;
  max-width: 100%;
  padding: 0.25rem 0.75rem;
  display: flex;
  align-items: center;
  gap: min(0.5rem, 12px);
  border-radius: 1rem;
}
.repeatIcon {
  flex-shrink: 0;
  width: min(1rem, 20px);
  height: min(1rem, 20px);
}
.text {
  width: fit-content;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.checkButton {
  flex-shrink: 0;
  padding: 0.5rem;
  color: var(--background-color);
}
.checkIcon {
  width: 1rem;
}
.checked {
  opacity: 30%;
  text-decoration: line-through;
}

@media (hover: none) {
  .checkButton {
    color: var(--text-color);
  }
}
