.taskRow {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: start;
  border: none;
  border-bottom: 1px solid var(--text-color-transparent);
}
.extraRow {
  color: transparent;
  cursor: default;
}
