.backdropFilter {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
}
.backdropColor {
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  opacity: 20%;
}
.modalContainer {
  width: 100%;
  height: fit-content;
  position: fixed;
  bottom: 0;
}
.modal {
  width: 100%;
  height: fit-content;
  padding: min(1rem, 20px) min(1.5rem, 32px) min(2.5rem, 48px);
  border-radius: 16px 16px 0 0;
  background-color: var(--background-color);
}
.content {
  display: flex;
  flex-direction: column;
  gap: min(2rem, 48px);
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: min(1rem, 20px);
}
.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: min(0.5rem, 16px);
  font-size: clamp(1rem, 0.9432rem + 0.2841vw, 1.125rem);
  font-weight: 500;
}
.inputLabel {
  display: flex;
  align-items: center;
  gap: min(0.5rem, 16px);
  white-space: nowrap;
}
.dateInputContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.dateInput {
  width: 100%;
  height: 100%;
  position: relative;
  border: none;
  background: transparent;
  color: transparent;
}
.dateInput::-webkit-calendar-picker-indicator {
  width: auto;
  height: auto;
  position: absolute;
  inset: 0;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
.buttonsSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttonIcon {
  width: min(1.5rem, 32px);
  height: min(1.5rem, 32px);
}
.actionButton {
  flex-shrink: 0;
  padding: 0.75rem;
  border-radius: 100%;
}
.inputSection {
  width: 100%;
  margin-bottom: min(2rem, 48px);
  display: flex;
  align-items: center;
}
.input {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: start;
  font-size: clamp(1.125rem, 1.0682rem + 0.2841vw, 1.25rem);
  font-weight: 600;
  background-color: transparent;
  color: inherit;
  border: none;
  resize: none;
}
.checked {
  opacity: 30%;
  text-decoration: line-through;
}
.buttonsArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: min(1rem, 20px);
}
.colors {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.color {
  border-radius: 100%;
}
.selectedColor {
  border: 1px solid;
  border-color: inherit;
}
